{% extends 'blog/base.html' %}

{% block content %}
<div class="row">


    <div class="col-md-3 col-sm-3 col-md-push-8">
            <blockquote>
              {% for post in posts %}
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a><br>
              {% endfor %}
            </blockquote>
      </div>

    <div class="col-md-8 col-xs-12 col-md-pull-3">
          {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}
